{% extends 'ag_base/backend.html.twig' %}


{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'user_details_edit'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Rubah User_details, ID : {{ id }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									<div class='form-group'>
									    {{ form_label(form.USERLOGIN_ID) }}
									    {{ form_widget(form.USERLOGIN_ID, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.NAME) }}
									    {{ form_widget(form.NAME, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.EMAIL) }}
									    {{ form_widget(form.EMAIL, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.MOBILE) }}
									    {{ form_widget(form.MOBILE, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.ADDRESS) }}
									    {{ form_widget(form.ADDRESS, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

                                                 

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Rubah</button>
                                    <button type="reset" class="btn btn-primary">Ulang</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}

